

<div class="row"  *ngIf="productList">
  
  <div class="col-md-4" *ngFor="let item of productList">
    <div class="card" style="width: 18rem;">
      <a href="">
        
        <img src="/Content/images/{{item.ImageUrl}}" class="card-img-top" alt="{{item.Name}}">
      </a>

      <div class="card-body">
        <h5 class="card-title">{{item.Name}}</h5>
        <p class="card-text">{{item.Description}}</p>
        <a href="products/Details/{{item.Slug}}" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
  </div>
  
</div>
